.page-styles {
    justify-content: center;
    height: 100vh;
    .form-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        width: 350px;
        max-width: 100%;
        height: max-content;
        padding: 20px;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
        .heading {
            font-size: 24px;
            font-weight: 700;
        }
    }
}
